@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --image_gap: 20px;
    --text_color: #d7d8e3;
    /* #b2cad8  icon color*/
  }

*{
    /* border-style: solid; */
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #3a3e56;
}

html{
    scroll-behavior: smooth;
}

a{
    transition: all 300ms ease;
}

.page_header{
    font-size: 2.5rem;
}

#index_nav{
    display: flex;
    justify-content: center; 
    height: 80px;   
    margin: 20px;   
    gap: 20px;
}

.link img {
    object-fit: cover;
    width: 100%; 
    height: 100%;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--image_gap);
    max-width: 600px;
    margin: 40px auto;    
}

#name{
    font-family: "Quicksand";
    text-align: center;
    font-size: 2.5rem;
    color: var(--text_color);
    color: #e1e3f1;
    margin-top: 100px;
    margin-bottom: 80px;
    font-weight: 400;
}

#name:hover{
    cursor: default;
}

/* .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} */

.about_body{
    justify-content: center;
    margin: 50px 10%;
    color: var(--text_color);
}

.about_content{
    max-width: 950px;
    margin: 0 auto;
}

.about_nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;     
}

.home_btn{
    height: 80%;
    display: flex;
}

.home_btn img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
    max-height: 70px;
}

.about_paragraph{
    margin: 0 3%;
}

.hobbies_body{
    margin: 0 50px;
    color: var(--text_color);
}


.hobbies_content{
    max-width: 1200px;
    margin: 20px auto;
}

.sub_nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.grid_food{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--image_gap);
    margin: 15px auto;    
}

.image_food{
    width: calc(32.5% - calc(var(--image_gap)/2));
    height: calc(30% - 10px);
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
}

.image_food img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.projects_body{
    color: var(--text_color);
    margin: 0 50px;
}

.projects_content{
    max-width: 1200px;
    margin: 20px auto;
}

.grid_projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--image_gap);
    margin: 15px auto;    
}

.project_div{
    background-color: #4f5371;
    color: #e4e5f1;
    height: auto;
    min-height: 180px;
    border-style: solid;
    display: flex;
    width: 100%;
}

.project_image_div{
    width: 30%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.project_image_div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project_highlight{
    vertical-align: bottom;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

h2{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

.project_desc{
    text-align: left;
    font-size:1.2rem;
    margin: 0 20px;
    height: 55%;
}

.project_desc_bottom{
    color: #9bbbf1;
    font-size:1.2rem;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1080px) {
    .project_desc {
        font-size: 1rem;
    }
  }
@media screen and (max-width: 930px) {
    .project_div {
        min-height: 300px;
    }
  }

  @media screen and (max-width: 670px) {
    .project_div {
        min-height: 400px;
    }
  }

  @media screen and (max-width: 560px) {
    .project_desc {
        font-size: 0.9rem;
    }
  }

.athlos_body{
    color: var(--text_color);
    justify-content: center;
    margin: 50px 10%;
}

.athlos_content{
    max-width: 950px;
    margin: 0 auto;
}

.athlos_nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;     
}

.athlos_paragraph{
    margin: 0 3%;
}

.remote_body{
    justify-content: center;
    margin: 50px 10%;
}

.remote_content{
    color: var(--text_color);
    max-width: 950px;
    margin: 0 auto;
}

.remote_nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;     
}

.remote_paragraph{
    margin: 0 3%;
}

#remote_images{
    max-height: 300px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.remote_image {
    width: 30%;
    max-width: 200px
}

.remote_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;   
}

.keyboard_body{
    justify-content: center;
    margin: 50px 10%;
}

.keyboard_content{
    color: var(--text_color);
    max-width: 950px;
    margin: 0 auto;
}

.keyboard_nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;     
}

.keyboard_paragraph{
    margin: 0 3%;
}

#keyboard_images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.keyboard_image {
    width: 80%;
    height: 30%;
}

.keyboard_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;   
}

.links{
    color: #9bbbf1;
}

.w_grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 600px;
}

.w_grid img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: background-color 0.4s;
}

/* .w_grid img:hover{
    background-color: #4d5167;
}  */

.image{
    border-radius: 10px;
} 

.image img:hover{
    background-color: #4d5167;
} 

.effect-on{
    background-color: #4d5167; 
}
@media screen and (max-width: 800px) {
    .w_grid img {
        height: auto;
    }
  }

#linkedin_icon { grid-column: 2; grid-row: 1;}
#resume_icon { grid-column: 2; grid-row: 2; }
#project_icon { grid-column: 3; grid-row: 3;}
#logo_icon { grid-column: 4; grid-row: 2; }
#food_icon { grid-column: 5; grid-row: 3; }
#contact_icon { grid-column: 6; grid-row: 2; }
#github_icon { grid-column: 6; grid-row: 1;}

.contact_body{
    justify-content: center;
    margin: 50px 10%;
    color: var(--text_color);
}

.contact_content{
    max-width: 950px;
    margin: 0 auto;
}

.contact_nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;     
}

#contact_p{
    text-align: center;
    margin: auto 20px ;
}

.contact_info_container{
    margin: 80px 0;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.copy_btn{
    position: relative;
    border-style: none;
    width: 60px;
    height: 60px;
    min-width: 60px;
    background-color: #3a3e56;
    border-radius: 10px;
    padding: 8px; 
    transition: background-color 0.3s ease;
    cursor: pointer; 
    
}

.copy_btn img{
    height: 100%;
    width: 100%; 
    object-fit: cover;
}

.copy_btn:hover {
    background-color: #4d5167;
  }

  .copy_btn_text {
    visibility: hidden;
    background-color: #555;
    width:120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-style: none;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .copy_btn:hover .copy_btn_text {
    visibility: visible;
    opacity: 1;
  }

  #pic_of_me_div{
    border-color: green;
    object-fit: cover;
    margin: 20px auto;
    width: 40%;
  }

  .me_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}