@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --image_gap: 20px;
  }

*{
    border-style: solid;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #3a3e56;
}

html{
    scroll-behavior: smooth;
}

a{
    transition: all 300ms ease;
}

#index_nav{
    display: flex;
    justify-content: center; 
    height: 80px;   
    margin: 20px;   
    gap: 20px;
}

.link img {
    object-fit: cover;
    width: 100%; 
    height: 100%;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--image_gap);
    max-width: 600px;
    margin: 40px auto;    
}

#name{
    text-align: center;
    font-size: 4rem;
}

#name:hover{
    cursor: default;
}

.image{
    width:calc(50% - calc(var(--image_gap) / 2));
    height: calc(50% - 10px);
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
}

.desc {
    padding: 15px;
    text-align: center;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about_body{
    /* border-color: red; */
    justify-content: center;
    margin: 50px 10%;
}

.about_content{
    max-width: 950px;
    margin: 0 auto;
}

.about_nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;     
}

.home_btn{
    min-width: 50px;
    max-width: 50px;
}
.home_btn img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
}

.about_paragraph{
    margin: 0 3%;
}

.hobbies_body{
    /* justify-content: center; */
    margin: 0 50px;
}


.hobbies_content{
    max-width: 1200px;
    margin: 20px auto;
}

.sub_nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto;
    /* height: 80px;          */
}

.grid_food{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--image_gap);
    margin: 15px auto;    
}

.image_food{
    width: calc(32.5% - calc(var(--image_gap)/2));
    height: calc(30% - 10px);
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
}

.image_food img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid_projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--image_gap);
    margin: 15px auto;    
}

.project_div{
    width: calc(32.5% - calc(var(--image_gap)/2));
    height: calc(30% - 10px);
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
}

.project_div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}