@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --image_gap: 20px;
  }

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #3a3e56;
}

html{
    scroll-behavior: smooth;
}

a{
    transition: all 300ms ease;
}

#index_nav{
    display: flex;
    justify-content: center; 
    height: 80px;   
    margin: 20px;   
    gap: 20px;
}

.link img {
    object-fit: cover;
    width: 100%; 
    height: 100%;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--image_gap);
    max-width: 600px;
    margin: 40px auto;    
}

#name{
    text-align: center;
    font-size: 4rem;
}

#name:hover{
    cursor: default;
}

.image{
    width: calc(50% - var(--image_gap));
    height: calc(50% - 10px);
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
}

.desc {
    padding: 15px;
    text-align: center;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about_top{
    justify-content: center;
    margin: 50px 10%;
}

.about_body{
    max-width: 950px;
    margin: 0 auto;
}

.sub_header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;     
}



.home{
    min-width: 50px;
    max-width: 50px;
}
.home img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
}

#about_paragraph{
    margin: 0 3%;
}